.App {
  text-align: center;
}

.App button {
  background: yellowgreen;
  color: white;
  cursor: pointer;
  padding: .9rem;
  width: 10%;
  font-size: 1rem;
  font-weight: bold ;
  text-align: center;
  border: none;
}

.App button:hover {
  opacity: 0.8;
}

